  <div class="row p-4">
    <div class="col-sm-12">
        <h1>About Me</h1>
        <p>
            I am a self taught web developer that has been learning different technologies by creating projects. 
            My biggest accomplishment so far has been creating a fully functional website from the ground up called TEMPLO. 
            This project came from an idea i had to allow people to ask questions about certain issues they are facing in life and have anybody contribute with their opinions. 
            Though still learning different ways to code with different technologies, I believe joining a team to collaborate with will help strengthen my skills.
            Currently, i am learning how to master bootstrap, as well as, Angular 5 basics, which is what this portfolio was built on.
            My hope in the near future is to complete a MEAN stack application. 
            Please feel free to contact me with any questions you may have
        </p>    
    </div> 
    <div class="col-sm-12 col-md-6">
      <h1>Contact Info</h1>
      <ul>
        <li>786-728-2835</li>
        <li> <a class="text-dark" href="mailto:joel.franco0789@gmail.com">joel.franco0789@gmail.com</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <h1>References</h1>
        <ul>
          <li><a class="text-dark" href="https://github.com/joelfranco89">Github</a></li>
          <li><a class="text-dark" href="https://www.linkedin.com/in/joel-franco-578b9a37/">Linkedin</a></li>
          <li><a class="text-dark" href="https://stackoverflow.com/users/7757215/joel?tab=summary">Stack Overflow</a></li>
        </ul>
      </div>
  </div>
