
    <div class="row">
        <div class="card col-sm-12 col-md-6 col-lg-3 p-0" *ngFor="let project of projects">
            <h5 class="card-header">{{project.title}}</h5>
            <div class="card-body">
              <p class="card-text">{{project.description}}</p>
              <h5>Technologies used</h5>
              <ul>
                <li *ngFor="let technology of project.technologies">
                  {{technology.type}}
                </li>
              </ul>
              <a href="{{project.link}}" class="btn btn-primary">Visit Project</a>
            </div>
          </div>
        </div>

