.jumbotron{
    background-image: url("https://images.pexels.com/photos/37403/bora-bora-french-polynesia-sunset-ocean.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    height: 600px;
    color: white;
}

img{
    border-radius: 50%;
    opacity: 1;
}